<ng-container *ngIf="control">
	<div class="minute-counter" [formGroup]="form">
		<div class="minute-counter__days">
			<input
				autocomplete="off"
				formControlName="days"
				placeholder="days">
		</div>

		<div class="minute-counter__hours">
			<input
				autocomplete="off"
				formControlName="hours"
				placeholder="hours">
		</div>

		<div class="minute-counter__minutes">
			<input
				autocomplete="off"
				formControlName="minutes"
				placeholder="minutes">
		</div>
	</div>
</ng-container>
